<div class="row">
  <div class="col-md-{{route.children.length > 0 ? 6 : 12}}">
    <div class="card">
      <div class="header" id="card-header">
        <div class="pull-right">
          <div class="btn-group">
            <button class="btn btn-secondary" type="button" (click)="month = previousMonth; loadData()">{{previousMonth | date: 'MMMM yyyy'}}</button>
            <button class="btn btn-secondary" type="button" (click)="month = nextMonth; loadData()">{{nextMonth | date: 'MMMM yyyy'}}</button>
          </div>
          &nbsp;
          <a class="btn btn-primary" [routerLink]="['new']">
            <i class="ti-plus"></i>
            Baru
          </a>
        </div>
        <h4 class="title">Transaksi</h4>
        <p class="category">{{month | date: 'MMMM yyyy'}}</p>
        <div class="clearfix"></div>
      </div>
      <div class="content" id="card-content">
        <ng-container *ngIf="transactions; else loading">
          <div *ngIf="transactions.length > 0; else noTransactions" class="table-responsive" appListAutoHeight>
            <table class="table table-bordered table-condensed table-striped">
              <tbody>
                <tr *ngFor="let transaction of transactions" [routerLink]="[transaction.id]" routerLinkActive="info">
                  <td>{{transaction.created_at | date: 'full'}}</td>
                  <td class="text-right">{{transaction.total | number}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-6" *ngIf="route.children.length > 0"><router-outlet></router-outlet></div>
</div>
<ng-template #noTransactions>
  <p>Data transaksi {{month | date: 'MMMM yyyy'}} kosong.</p>
</ng-template>
<ng-template #loading>
  <p>Membaca data...</p>
</ng-template>