<div class="card" appFormAutoHeight>
  <div class="header">
    <div class="pull-right">
      <a [routerLink]="['..']"><i class="ti-close"></i></a>
    </div>
    <h4 class="title">Edit Kategori</h4>
    <div class="clearfix"></div>
  </div>
  <div class="content">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-group form-header">
        <input type="text" class="form-control border-input" formControlName="name">
      </div>
      <div class="form-group form-list">
        <app-services-inputs [form]="form" [id]="category_id" #servicesInputs></app-services-inputs>
      </div>
      <div class="row form-footer">
        <div class="col-xs-6">
          <button class="btn btn-danger" type="button" (click)="delete()">
            <i class="ti-trash"></i>
            Hapus
          </button>
        </div>
        <div class="col-xs-6 text-right">
          <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
            <i class="ti-check"></i>
            Simpan
          </button>
        </div>
      </div>
    </form>
  </div>
</div>