<div class="row">
  <div class="col-md-{{route.children.length > 0 ? 6 : 12}}">
    <div class="card">
      <div class="header">
        <h4 class="title">Pengeluaran Harian</h4>
      </div>
      <div class="content">
        
        <div class="text-right">
          <a class="btn btn-primary" [routerLink]="['new']">
            <i class="ti-plus"></i>
            Baru
          </a>
        </div>
        <br>
      
        <ng-container *ngIf="dailyUses">
          <div *ngIf="dailyUses.length > 0; else noTransactions" class="table-responsive">
            <table class="table table-bordered table-condensed table-striped">
              <tbody>
                <tr *ngFor="let dailyUse of dailyUses" [routerLink]="[dailyUse.id]" routerLinkActive="info">
                  <td>{{dailyUse.created_at | date: 'full'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-6" *ngIf="route.children.length > 0"><router-outlet></router-outlet></div>
</div>
<ng-template #noTransactions>
  <p>Data pengeluaran harian kosong.</p>
</ng-template>