<p *ngIf="loading; else loaded">Membaca data layanan...</p>
<ng-template #loaded>
  <table [formGroup]="form" class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th>Nama</th>
        <th>Harga</th>
        <th>Keterangan</th>
        <th width="50"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="notDeletedAccount == 0">
        <td colspan="4">Layanan dengan kategori ini masih belum tersedia. Tekan &quot;Tambah Layanan&quot; untuk menambah layanan.</td>
      </tr>
      <ng-container formArrayName="services">
        <ng-container *ngFor="let service of services.controls; let i = index" [formGroupName]="i">
          <tr *ngIf="!services.controls[i].value.deleted">
            <td>
              <input type="text" class="form-control border-input input-sm" formControlName="name">
            </td>
            <td>
              <input type="text" class="form-control border-input input-sm" formControlName="price">
            </td>
            <td>
              <input type="text" class="form-control border-input input-sm" formControlName="note">
            </td>
            <td class="text-right">
              <button class="btn btn-danger btn-sm" type="button" (click)="removeService(i)">
                <i class="ti-close"></i>
              </button>
            </td>
          </tr>
        </ng-container>
      </ng-container>
      <tr>
        <td colspan="4" class="text-right">
          <button class="btn btn-secondary" type="button" (click)="addService()">
            <i class="ti-plus"></i>
            Tambah Layanan
          </button>
        </td>
      </tr>
      <tr *ngIf="deletedCount > 0">
        <td colspan="4">
          <br>
          <b>Dihapus, tekan <i class="ti-back-right"></i> untuk mengembalikan.</b>
        </td>
      </tr>
      <ng-container formArrayName="services">
        <ng-container *ngFor="let service of services.controls; let i = index" [formGroupName]="i">
          <tr *ngIf="services.controls[i].value.deleted">
            <td>
              {{services.controls[i].value.name}}
            </td>
            <td>
              {{services.controls[i].value.price}}
            </td>
            <td>
              {{services.controls[i].value.note}}
            </td>
            <td>
              <button class="btn btn-danger" type="button" (click)="restoreService(i)">
                <i class="ti-back-right"></i>
              </button>
            </td>
          </tr>
        </ng-container>
      </ng-container>
    </tbody>
  </table>
</ng-template>
