<nav class="navbar navbar-default" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right" *ngIf="user">
                <li class="dropdown" *ngIf="user.role_id == 1">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="ti-bell"></i>
                            &nbsp;
                            <p>Master</p>
                            <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a [routerLink]="['/categories']">Kategori Layanan</a></li>
                        <li><a [routerLink]="['/materials']">Bahan</a></li>
                        <li><a [routerLink]="['/report-categories']">Kategori Laporan</a></li>
                        <li><a [routerLink]="['/users']">User</a></li>
                      </ul>
                </li>
                <li *ngIf="user.role_id == 1">
                    <a [routerLink]="['/settings']">
                        <i class="ti-settings"></i>
                        &nbsp;
                        <p>Pengaturan</p>
                    </a>
                </li>
                <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="ti-user"></i>
                            &nbsp;
                            <p>{{user.name}}</p>
                            <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a [routerLink]="['/profile']">Ubah Profil</a></li>
                        <li><a [routerLink]="['/login']">Logout</a></li>
                      </ul>
                </li>
            </ul>
            <app-update-indicator></app-update-indicator>

        </div>
    </div>
</nav>
