@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-fresh.css";

tr.clickable,
tr[routerLinkActive] {
    cursor: pointer;
}

tr.clickable:hover td,
tr[routerLinkActive]:hover td {
    background-color: #f5f5f5
}

.form-horizontal .control-label.text-left {
    text-align: left;
}

.form-list {
  overflow: auto;
}

@media print {
  .sidebar,
  app-pagination {
    display: none;
  }

  .main-panel {
    width: 100%;
  }

  .report-title {
    text-align: center;
  }
}

.ag-row-even .special-column {
  background-color: #f5f5f5;
}

.ag-row-odd .special-column {
  background-color: #e8e8e8;
}